<div class="activity-streams">
  <h1>Activity Streams</h1>
  <div class="activity-streams-list">
    <ul>
      {{#each activityStreams as |activity|}}
        {{activity-streams-item activity=activity tagName='li'}}
      {{/each}}
    </ul>
  </div>
</div>
