<div class="activity-streams">
  <h1>Activity Streams</h1>
  <div class="activity-streams-list">
    <ul>
      <li>
        <a href="#">Ricky Hurtado</a> created a <a href="#">blog</a> 7 min ago.
      </li>
      <li>
        <a href="#">Ricky Hurtado</a> created a <a href="#">recipe</a>  7 hours ago.
      </li>
      <li>
        <a href="#">Ricky Hurtado</a> updated a <a href="#">review</a> 7 days ago.
      </li>
      <li>
        <a href="#">Ricky Hurtado</a> deleted a <a href="#">review</a> 7 months ago.
      </li>
      <li>
        <a href="#">Ricky Hurtado</a> deleted a <a href="#">blog</a> 7 months ago.
      </li>
      <li>
        <a href="#">Ricky Hurtado</a> deleted a <a href="#">review</a> 7 months ago.
      </li>
      <li>
        <a href="#">Ricky Hurtado</a> deleted a <a href="#">recipe</a> 7 months ago.
      </li>
      <li>
        <a href="#">Ricky Hurtado</a> deleted a <a href="#">blog</a> 7 months ago.
      </li>
      <li>
        <a href="#">Ricky Hurtado</a> deleted a <a href="#">blog</a> 7 months ago.
      </li>
      <li>
        <a href="#">Ricky Hurtado</a> deleted a <a href="#">blog</a> 7 months ago.
      </li>
      <li class="more-activities">
        <a href="#">More Activities</a>
      </li>
    </ul>
  </div>
</div>
