<div class="row">
  <div class="col-sm-12">
    <h1 id="title" class="blogs-content-title">{{title}}</h1>
  </div>
</div>
<div class="blog-list row">
  {{#each blogs.data as |blog|}}
    {{blogs-item blog=blog user=blog.relationships.user category=blog.relationships.category included=blogs.included}}
  {{/each}}
</div>

{{blogs-pagination links=blogs.links route=route page=page}}
