<a href="/{{blogs-included included type='categories' id=category.data.id attribute='name' lowerCase=true}}s">
  {{blogs-included included type='categories' id=category.data.id attribute='name'}}
</a>
