{{#if showPagination}}
  <hr />

  <div class="blogs-pagination clearfix">
    {{#if showHomeLink}}
      {{link-to 'Prev' route class='btn btn-default pull-left'}}
    {{/if}}

    {{#if showPrevLink}}
      {{link-to 'Prev' page prevPage class='btn btn-default pull-left'}}
    {{/if}}

    {{#if showNextLink}}
      {{link-to 'Next' page nextPage class='btn btn-default pull-right'}}
    {{/if}}
  </div>
{{/if}}
