{{! app/templates/admin/index.hbs }}

{{admin-page-title title='Dashboard'}}

<div class="row">
  <div class="col-md-12">
    <p>Welcome to Foodie admin dashboard!</p>

    {{admin-dashboard-content}}
  </div>
</div>
