{{! app/templates/admin.hbs }}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 id="title">Admin</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Welcome to Foodie admin dashboard!</p>
    </div>
  </div>

  {{ app-footer }}

</div> <!- /container ->
