{{! app/templates/application.hbs }}

{{nav-bar}}

<div class="clearfix">
  <div id="main" class="container col-sm-8">
    {{outlet}}
  </div>

  <div id="sidebar" class="col-sm-4">
    {{activity-streams activityStreams=model.activityStreams}}
  </div>
</div>

{{app-footer}}
