{{! app/templates/blog.hbs }}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 id="title">Blog</h1>
    </div>
  </div>
  <div class="blog-list row">
    <div class="blog-item col-md-12">
      <h2>Post</h2>
      <p class="meta">Posted on July 7, 2016 by <a href="#">Ricky Hurtado</a> • <a href="/blog">Blog</a></p>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">Continue Reading »</a></p>
    </div>
    <div class="blog-item col-md-12">
      <h2>Post</h2>
      <p class="meta">Posted on July 7, 2016 by <a href="#">Ricky Hurtado</a> • <a href="/blog">Blog</a></p>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">Continue Reading »</a></p>
    </div>
    <div class="blog-item col-md-12">
      <h2>Post</h2>
      <p class="meta">Posted on July 7, 2016 by <a href="#">Ricky Hurtado</a> • <a href="/blog">Blog</a></p>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">Continue Reading »</a></p>
    </div>
    <div class="blog-item col-md-12">
      <h2>Post</h2>
      <p class="meta">Posted on July 7, 2016 by <a href="#">Ricky Hurtado</a> • <a href="/blog">Blog</a></p>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">Continue Reading »</a></p>
    </div>
    <div class="blog-item col-md-12">
      <h2>Post</h2>
      <p class="meta">Posted on July 7, 2016 by <a href="#">Ricky Hurtado</a> • <a href="/blog">Blog</a></p>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">Continue Reading »</a></p>
    </div>
  </div>

  {{ app-footer }}

</div> <!- /container ->
